@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "work sans", "sans-serif";
  overflow-x: hidden;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  width: 85%;
  margin: auto;
  background-color: #f0f4e5;
}

a {
  color: black;
}

/* Header */

header {
  height: 9vh;
  margin: 8vh auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  height: 100%;
  margin: 0 auto;
  flex-basis: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  flex-basis: 100px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.navlink {
  color: black;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  padding: 2vh 0;
  width: 80%
}

#logo {
  height: 7vh;
}

.sign-up {
  height: 7vh;
  width: calc(7vh / 130 * 450);
  background-color: black;
  color: white;
  font-family: 'Tinos', serif;
  font-size: 24px;
  border: none;
}

.sign-up:hover {
  background-color: #38342c;
  cursor: pointer;
}

/* Section 1 */

#title-container {
  height: 30vh;
  width: 100%;
  margin-bottom: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 70px;
  font-family: 'Tinos', serif;
  font-weight: 700;
  text-align: center;
}


/* Section 2 */

#about-us {
  display: flex;
  margin-bottom: 30vh;
  align-items: center;
}

.left-elements {
  flex-grow: 1;
  flex-shrink: 1;
  width: calc(100vh - 50vh / 5 * 7)
}

.subtitle {
  font-size: 36px;
  font-family: 'Tinos', serif;
  font-weight: 700;
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 5vh;
}

.parag {
  font-size: 20px;
  font-family: 'Tinos', serif;
  text-align: center;
  margin: 0 4vw;
  margin-bottom: 5vh;
}

#about-image {
  flex-shrink: 1;
  flex-basis: 35vw;
  width: 30vw;
  margin: 0 4vw;
  height: calc(35vw / 7 * 5);
}

/*Section 3*/

#why-linguistics {
  display: flex;
  margin-bottom: 60vh;
  align-items: center;
}

#why-image {
  flex-shrink: 1;
  flex-basis: 35vw;
  width: 30vw;
  margin: 0 4vw;
  height: calc(35vw / 7 * 4);
}

#smaller-sign {
  height: 2em;
  width: 6em;
  margin: 10px;
  font-size: 16px;
  border: none;
}

/* Sign-up */

.form {
  margin-bottom: 10vh;
}

#sign-up-form {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 5%;
}

.subsection-header {
  font-size: 18px;
  font-family: 'Tinos', serif;
  margin-bottom: 10px;
}

.input-subsection {
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px 40px;
}

.input-field {
  display: flex;
  flex-direction: column;
}

.text-input {
  font-size: 18px;
  font-family: 'Tinos', serif;
  width: 12vw;
  height: 34px;
}

.input-label {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: #333333;
}

.radio-choices {
  display: flex;
  align-items: center;
  gap: 20px;
}

.radio-choice {
  display: flex;
  align-items: center;
}

.radio-choice > .input-label {
  margin: 0 5px;
}

span.subsection-header {
  margin-right: 20px;
  margin-bottom: 0;
}

textarea {
  resize: none;
  font-size: 18px;
  font-family: 'Tinos', serif;
  width: 24vw;
  height: 136px;
}

#submit-button {
  background-color: black;
  color: white;
  font-family: 'Tinos', serif;
  height: 2em;
  width: 6em;
  margin: 10px auto;
  font-size: 16px;
  border: none;
}

#submit-button:hover {
  background-color: #38342c;
  cursor: pointer;
}

/* Roadmap */

#roadmap {
  width: 60%;
  margin: 0 auto;
}

#roadmap > .subtitle {
  margin-bottom: 10vh;
}

.week-plan {
  margin-bottom: 5vh;
}

.date {
  font-family: 'Tinos', serif;
  font-size: 24px;
  margin-bottom: 3vh;
}

.week-description {
  align-items: left;
}

.week-items {
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

/* 
#welcome-section {
  height: 100%;
  width: 100%;
  background-color: #c0d6df;
}

h1 {
  font-size: 70px;
  text-align: center;
  padding: 44vh 0
} */

/*section 2*/
/* 
#projects {
  width: 100%;
  background-color: #ffbf81;
}

h3 {
  text-align: center;
  padding-top: 130px;
  padding-bottom: 50px;
  font-size: 40px;
  font-family: Arial
}

#works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  margin: 50px;
}

.caption {
  font-size: 20px;
  font-family: "work sans";
  margin: 15px auto;
  text-align: center;
} */

/*section 3*/
/* 
#about-me {
  background-color: #A5FFC3;
  width: 100%;
}

h2 {
  text-align: center;
  font-size: 45px;
  margin-top: 150px;
  margin-bottom: 100px;
}

#sl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  max-width: 700px;
  margin: 0 auto;
  flex-grow: 1;
  gap: 40px;
  margin-bottom: 20vh;
}

.logo {
  width: 150px;
} */