@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "work sans", "sans-serif";
  overflow-x: hidden;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  width: 85%;
  margin: auto;
  background-color: #f0f4e5;
}

a {
  color: black;
}

/* Header */

@media (min-width: 1000px) {
  .small_logo {
    display: none;
  }
}

@media (min-width: 767px) {
  #small-button {
    display: none;
  }
}

header {
  height: 9vh;
  margin: 8vh auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  flex-basis: 100px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.links {
  height: 100%;
  margin: 0 auto;
  flex-basis: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlink {
  color: black;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  padding: 2vh 0;
}

#logo {
  height: 7vh;
}

.sign-up {
  height: 7vh;
  width: calc(7vh / 130 * 450);
  background-color: black;
  color: white;
  font-family: 'Tinos', serif;
  font-size: 24px;
  border: none;
}

.sign-up:hover {
  background-color: #38342c;
  cursor: pointer;
}

.mobile-nav {
  display: none;
}


@media (max-width: 1000px) {
  .big_logo {
    display: none
  }
}

@media (max-width: 767px) {
  body {
    width: 95%;
  }

  .links {
    flex-basis: 280px;
  }

  #title-container {
    display: flex;
    margin-bottom: 20vh;
    flex-direction: column;
  }

  #title {
    font-size: 50px;
    margin-bottom: 100px;
  }

  #nav-button {
    display: none;
  }

  .small_logo {
    min-width: 0px;
  }
}



/* Section 1 */

#title-container {
  width: 100%;
  margin-bottom: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 70px;
  font-family: 'Tinos', serif;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 767px) {
  #title-container {
    margin-bottom: 20vh;
  }

  #title {
    font-size: 50px;
  }
}


/* Section 2 */

#about-us {
  display: flex;
  margin-bottom: 30vh;
  align-items: center;
}

.left-elements {
  flex-grow: 1;
  flex-shrink: 1;
  width: calc(100vh - 50vh / 5 * 7)
}

.subtitle {
  font-size: 36px;
  font-family: 'Tinos', serif;
  font-weight: 700;
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 5vh;
}

.parag {
  font-size: 20px;
  font-family: 'Tinos', serif;
  text-align: center;
  margin: 0 4vw;
  margin-bottom: 5vh;
}

#about-image {
  flex-shrink: 1;
  flex-basis: 35vw;
  width: 30vw;
  margin: 0 4vw;
  height: calc(35vw / 7 * 5);
}

@media (max-width: 767px) {
  #about-us {
    display: flex;
    margin-bottom: 10vh;
    align-items: center;
  }

  #about-image {
    display: none;
  }
}

/*Section 3*/

#why-linguistics {
  display: flex;
  align-items: center;
}

#why-image {
  flex-shrink: 1;
  flex-basis: 35vw;
  width: 30vw;
  margin: 0 4vw;
  height: calc(35vw / 7 * 4);
}

#smaller-sign {
  height: 2em;
  width: 6em;
  margin: 10px;
  font-size: 16px;
  border: none;
}

@media (max-width: 767px) {
  #why-image {
    display: none;
  }
}

/* Section 4 */

#roadmap-link {
  background-image: url(../assets/dotted-line.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.roadmap {
  height: 5vh;
  width: calc(5vh / 130 * 450);
  margin: 0 auto;
  background-color: black;
  color: white;
  font-family: 'Tinos', serif;
  font-size: 24px;
  border: none;
}

@media (max-width: 767px) {
  #roadmap-link {
    background-image: url(../assets/small-dotted-line.png);
  }
}


/* Sign-up */

.form {
  margin-bottom: 10vh;
}

#sign-up-form {
  width: 75%;
  height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5%;
}

.subsection-header {
  font-size: 18px;
  font-family: 'Tinos', serif;
  margin-bottom: 10px;
}

.input-subsection {
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px 40px;
}

.input-field {
  display: flex;
  flex-direction: column;
}

.text-input {
  font-size: 18px;
  font-family: 'Tinos', serif;
  width: 250px;
  height: 34px;
}

.input-label {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: #333333;
}

.radio-choices {
  display: flex;
  align-items: center;
  gap: 20px;
}

.radio-choice {
  display: flex;
  align-items: center;
}

.radio-choice > .input-label {
  padding: 0 5px;
}

span.subsection-header {
  margin-right: 20px;
  margin-bottom: 0;
}

textarea {
  resize: none;
  font-size: 18px;
  font-family: 'Tinos', serif;
  width: calc(35vw - 300px);
  height: 136px;
}

#submit-button {
  background-color: black;
  color: white;
  font-family: 'Tinos', serif;
  height: 2em;
  width: 6em;
  margin: 10px auto;
  font-size: 16px;
  border: none;
}

#submit-button:hover {
  background-color: #38342c;
  cursor: pointer;
}

@media (max-width: 1100px) {
  #sign-up-form {
    width: 80%;
    height: 800px;
    gap: 5%;
  }

  .input-subsection {
    gap: 10px 2vw;
  }

  .input-field {
    margin: 0;
  }

  .text-input {
    width: 24vw;
  }

  textarea {
    resize: none;
    font-size: 18px;
    font-family: 'Tinos', serif;
    width: 400px;
    height: 136px;
  }
}

@media (max-width: 590px) {
  #sign-up-form {
    width: 100%;
    height: 1200px;
    gap: 5%;
  }

  .input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-subsection {
    flex-direction: column;
    gap: 10px 2vw;
  }

  .small {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .empty {
    display: none;
  }

  .input-field {
    margin: 0;
  }

  .text-input {
    width: 48vw;
  }

  span.subsection-header {
    margin-right: 0;
  }

  textarea {
    width: 300px;
    height: 100px;
  }

  .radio-choice > .input-label {
    padding: 0 5px;
    padding-left: 0px;
  }

  .big-subsection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Roadmap */

#roadmap {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20vh;
}

#roadmap > .subtitle {
  margin-bottom: 10vh;
}

.week-plan {
  margin-bottom: 5vh;
}

.date {
  font-family: 'Tinos', serif;
  font-size: 24px;
  margin-bottom: 3vh;
}

.week-description {
  align-items: left;
}

.week-items {
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  margin-bottom: 12px;
}

/* Social Media */

#socials-title {
  margin-bottom: 10vh;
}

#sl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  max-width: 700px;
  margin: 0 auto;
  flex-grow: 1;
  gap: 40px;
  margin-bottom: 20vh;
}

#sl > a {
  margin: 0 auto;
}

.logo {
  width: 150px;
}

#discord {
  border-radius: 30px
}

/* Contest */

#contest {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#braille {
  width: 90%;
  max-width: 700px;
  margin-bottom: 10vh;
}

#contest {
  justify-content: space-around;
  margin-bottom: 20vh;
}

